body {
  background-color: #CCFFFF;
  /* font-family: 'Helvetica Neue','Helvetica','Arial',cursive; */
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',cursive;
}

.task-name {
  font-size: 50px;
}

.btn {
  border-radius: 0px;
}